<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">Tools for humanitarian settings.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="icon-stack icon-4x">
                    <i class="icon icon-circle icon-stack-2x text-primary"></i>
                    <i class="icon icon-check-square-o icon-stack-1x icon-inverse"></i>
                </span>
                <h4 class="service-heading">Survey design with mobile data collection.</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <span class="icon-stack icon-4x">
                    <i class="icon icon-circle icon-stack-2x text-primary"></i>
                    <i class="icon icon-bar-chart icon-stack-1x icon-inverse"></i>
                </span>
                <h4 class="service-heading">Automated data analysis, visualisation & reporting</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <span class="icon-stack icon-4x">
                    <i class="icon icon-circle icon-stack-2x text-primary"></i>
                    <i class="icon icon-graduation-cap icon-stack-1x icon-inverse"></i>
                </span>
                <h4 class="service-heading">Training & capacity building</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
        </div>
    </div>
</section>