<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-subpage">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#page-top">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <!-- About text -->
            <div class="about">
            <h1>About</h1>
            <p>You can optionally insert a brief bio here. You went to this school, you studied that, you now work in this field with research interests in that subject. At your previous position at this place, you worked on this or that. You can list some of your significant accomplishments, awards, or recognition here as well. You live in this city with these animals and people. In your free time you like X, Y, and Z.</p>

            <ul class="contacts">
                <li><a href="#">@TwitterHandle</a></li>
                <li><a href="#">Your Departmental Webpage</a></li>
                <li><a href="#">Another site you want to link to</a></li>
                </ul>
        </div>

    </body>
</html>